include headerCell.pug
include line.pug
-const headers = require('pages/components/table/templates/headers.js');
-const lines = require('pages/components/table/templates/lines.js');
table.af-table
  thead.af-table__thead
    tr.af-table__tr
      each headElt in headers
        +headerCell(headElt)
  tbody.af-table__body
    each lineElt in lines
      +line(lineElt)
