@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';
@import '~@axa-fr/react-toolkit-all/dist/style/bootstrap/grid.css';
@import '@axa-fr/react-toolkit-button/dist/button.scss';
@import '@axa-fr/react-toolkit-form-core/dist/form.scss';
@import '@axa-fr/react-toolkit-link/dist/link.scss';
@import '@axa-fr/react-toolkit-form-input-text/dist/inputtext.scss';
@import '@axa-fr/react-toolkit-form-input-select/dist/select.scss';
@import '@axa-fr/react-toolkit-form-input-checkbox/dist/checkbox.scss';
@import '@axa-fr/react-toolkit-form-filter-inline/dist/filter-inline.scss';
@import '../../../assets/scss/variables.scss';

/* Style just for demo */

.#{$prefix}-demo{
  &__display{
    &--fullscreen{
      .#{$prefix}-demo{
        &__template{
          &--formfilterinline{
            margin: 2em;
          }
        }
      }
    }
  }
  &__template{
    &--formfilterinline{
      background: $white;
      padding: 1em;
    }
  }
}