include ../../header/templates/header.pug
include ../../navigation/templates/navigation.pug
include ../../title-bar/templates/title-bar-complex.pug

.af-container
  .row
    .col.col-md-12
      include ../../steps/templates/steps.pug
  .row
    .col.col-sm-12.col-md-12.col-lg-8.col-xl-8
      include ../../form/templates/form.pug
    .col.col-sm-12.col-md-12.col-lg-4.col-xl-4
      include ../../panel/templates/panel-selection.pug
      include ../../panel/templates/panel-list.pug
include ../../footer/templates/footer.pug

