@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';
@import './assets/scss/_transition.scss';

@import '@axa-fr/react-toolkit-layout-header/dist/Drawer/drawer.scss';

@import '../../../assets/scss/variables.scss';


/* TODO  A reporter sur le toolkit */
/* Dans le composant drawer, il faut supprimer l'appel à la fonction transition de bootstrap */
.af-drawer{
  &__part{
    font-family: $publico;
    background: $color-axa;
    color: $white;
    text-align:center;
    font-size: 2rem;
    padding: 2em;
    width: 100%;
    height: 100%;
  }
}
