@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';
@import '~@axa-fr/react-toolkit-all/dist/style/bootstrap/grid.css';
@import '@axa-fr/react-toolkit-form-core/dist/form.scss';
@import '@axa-fr/react-toolkit-form-input-radio/dist/radio.scss';
@import '@axa-fr/react-toolkit-form-input-switch/dist/switch.scss';
@import '../../../assets/scss/variables.scss';

/* Style just for demo */

.#{$prefix}-demo{
  &__display{
    &--fullscreen{
      .#{$prefix}-demo{
        &__template{
          &--formradioswitch{
            margin: 2em;
          }
        }
      }
    }
  }
  &__template{
    &--formradioswitch{
      background: $white;
      padding: 1em;
    }
  }
}