@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';
@import '~@axa-fr/react-toolkit-all/dist/style/bootstrap/grid.css';
@import '@axa-fr/react-toolkit-button/dist/button.scss';
@import '@axa-fr/react-toolkit-form-core/dist/form.scss';
@import '@axa-fr/react-toolkit-form-input-text/dist/inputtext.scss';
@import '../../../assets/scss/variables.scss';

/* Style just for demo */

.#{$prefix}-demo{
  &__display{
    &--fullscreen{
      .#{$prefix}-demo{
        &__template{
          &--forminputtext{
            margin: 2em;
          }
        }
      }
    }
  }
  &__template{
    &--forminputtext{
      background: $white;
      padding: 1em;
    }
  }
}