form.af-form(name="myform")
  h1.af-title--content Form Element
  include ../../form-checkbox/templates/form-checkbox.pug
  include ../../form-checkbox/templates/form-checkbox-inline.pug
  include ../../form-checkbox/templates/form-checkbox-custom.pug
  include ../../form-radio/templates/form-radio.pug
  include ../../form-radio/templates/form-radio-inline.pug
  include ../../form-radio/templates/form-radio-custom.pug
  include ../../form-radio-switch/templates/form-radio-switch.pug
  include ../../form-text/templates/form-text.pug
  include ../../form-text/templates/form-text-bulle.pug
  include ../../form-text/templates/form-text-disabled.pug
  include ../../form-select/templates/form-select.pug
  include ../../form-select/templates/form-select-inline.pug
  include ../../form-select/templates/form-select-disabled.pug
  include ../../form-textarea/templates/form-textarea.pug
  include ../../form-textarea/templates/form-textarea-disabled.pug
  include ../../form-file/templates/form-file.pug
  include ../../form-pass/templates/form-pass.pug
  include ../../slider/templates/slider.pug